* {
  box-sizing: border-box;
}

.head{
  background-color: steelblue;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main {
  background-color: rgb(177, 222, 222);
  color:blueviolet;
  height: 50vh;
  width: 50vh;
  border-radius: ;
  display: flex;
  justify-content:center;
  align-items: center;
  font-weight:bold;
}

.head .main li {
  list-style: none;

}